<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% load static %}
    {% load my_tags %}
    {% load socialaccount %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link href="{% static 'main/test.css' %}" rel="stylesheet">
    <link href="{% static 'main/my_custom.css' %}?v=10" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>威張る英語</title>
    <meta name="description" content="小中学生向けの英語と英検練習サイト。英検5級〜3級、フォニックス、数字、英語の基礎を楽しく学べます！">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0VR8B465LL"></script>
    <link rel="canonical" href="https://eibaru.jp/" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0VR8B465LL');
    </script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/dist/tailwind.min.css" rel="stylesheet">
</head>
<script>
        window.correctAudioUrls = [
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(17)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(18)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(19)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(20)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(21)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(22)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(23)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(24)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(25)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(25)%20(1).mp3"
        ];

        window.correctEnglishAudioUrls = [
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(17)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_44_01_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_44_07_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_44_43_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_44_49_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_44_56_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_45_01_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_45_20_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_45_28_1.mp3"
        ];

        window.wrongAudioUrls = [
            "https://storage.googleapis.com/ivar_reactions/sound13%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(27)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(28)%20(1).mp3",
            "https://storage.googleapis.com/ivar_reactions/Record%20(online-voice-recorder.com)%20(29)%20(1).mp3"
        ];

        window.wrongEnglishAudioUrls = [
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_36_49_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_36_54_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_37_00_1.mp3",
            "https://storage.googleapis.com/ivar_reactions/2024_12_07_19_37_30_1.mp3"
        ];
        window.urlPath = "{{ request.path }}";
</script>

<body style="background-image: url('https://storage.googleapis.com/profile_assets/WhatsApp%E7%94%BB%E5%83%8F%202024-02-14%2013.27.37_9343389c%20(2).jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin: 0; padding: 0;">
<div class="container-fluid" style="padding: 0;">
    <div class="quiz-container" id="app" style="width: 100%; padding: 0; margin: 0;"></div>
    <div class="row w-100" style="width: 100%; padding: 0; margin: 0;">
        <div class="card w-100 border-dark">
            {% if not classroom.character_voice %}
            <audio id="audio" src="{{ profile_audio }}" preload="auto"></audio>
            {% endif %}
        <div>
            <form method="post" action="{% if path == '/ar/' %}{% url 'accounts:logout' %}?next={% url 'accounts:login_ar' %}{% else %}{% url 'accounts:logout' %}?next={% url 'accounts:login' %}{% endif %}">
                {% csrf_token %}
                <div>
                    {% if user %}
                    <button type="submit" style="width: 200px; border: 4px solid black;" class="btn btn-danger">
                        {% if path == '/ar/' %}تسجيل الخروج{% else %}ログアウト{% endif %}
                    </button>
                    {% else %}
                    <button type="submit" style="width: 200px; border: 4px solid black;" class="btn btn-primary">
                        {% if path == '/ar/' %}تسجيل الدخول{% else %}ログイン{% endif %}
                    </button>
                    {% endif %}
                </div>
            </form>
            {% if user == "" %}
            <a href="{% if path == '/ar/' %}{% provider_login_url 'google' process='login' next='/ar/' %}{% else %}{% provider_login_url 'google' process='login' next='/' %}{% endif %}"
                   class="btn btn-light d-flex align-items-center mt-3 justify-content-center"
                   style="border: 1px solid #dadce0; width: 200px; height: 40px; font-weight: 500; text-decoration: none;">
                  <img src="https://developers.google.com/identity/images/g-logo.png" 
                       alt="Google logo" 
                       style="width: 20px; height: 20px; margin-right: 10px;">
                  <span>{% if path == '/ar/' %}تسجيل الدخول عبر جوجل{% else %}Googleでログイン{% endif %}</span>
            </a>
            {% elif has_google %}
                      <p>Google account already linked.</p>
                    {% else %}
                    <a href="{% if path == '/ar/' %}{% provider_login_url 'google' process='connect' next='/ar/' %}{% else %}{% provider_login_url 'google' process='connect' next='/' %}{% endif %}"
                         class="btn btn-light d-flex align-items-center mt-3 justify-content-center"
                         style="border: 1px solid #dadce0; width: 200px; height: 40px; font-weight: 500; text-decoration: none;">
                        <img src="https://developers.google.com/identity/images/g-logo.png" 
                             alt="Google logo" 
                             style="width: 20px; height: 20px; margin-right: 10px;">
                        <span>{% if path == '/ar/' %}ربط مع جوجل{% else %}Googleと連携{% endif %}</span>
                    </a>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
</div>
</body>
<script type="module" src="{% static 'my-vite-app/dist/assets/index-SBH711LA.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>